* {
    font-family: monospace;
}

html {
    height: 100%;
}

body {
    min-height: 100%; /* this allows body height to change dynamically*/
    margin: 0;
    padding: 0;
    display: flex;
}

.side-bar {
    background-color: darkblue;
    flex: 0 1 400px;
}

.backdrop {
    /* box-sizing: border-box; */
    color: darkblue;
    background-color: beige;
    min-height: 100%; /* this should accomplish same what I wanted max(100vh, auto) do but actually work */
    width: min(600px, 100vw);
    flex: 1 0 auto;
    /* margin: auto; */ /* this was causing main page content to be centered with white bars on top and bottom */
    padding: 8px;
}

img {
    width: 200px;
    height: auto;
    margin: 0;
}

.title-bar {
    text-align: center;
    margin: 0;
    padding: 0;
}

.main-logo {
    display: inline-block;
    height: 64px;
    width: auto;
    vertical-align: middle;
}

.main.page.title {
    display: inline-block;
    vertical-align: middle;
}

a {
    color: red;
    text-decoration: none;
}

.home-list {
    text-align: center;
    padding: 0;
    margin: 0;
}

.home-list li {
    display: inline-block;
    background-color: darkblue;
    padding: 8px 0;
}

.home-list li a {
    color: white;
    padding: 8px;
}

.recipe-image {
    display: inline-block;
    vertical-align: middle;
}

.section.description {
    display: inline-block;
    width: 380px;
    margin: 0 0 0 10px;
    vertical-align: middle;
}

.description.title {
    margin-left: 0px;
}